<fieldset>
  <legend><%= Spree.t(:skrill) %></legend>

  <table class="index">
    <tr>
      <th colspan="6"><%= Spree.t(:skrill_transaction) %></th>
    </tr>
    <tr>
      <td><label><%= Spree.t(:email) %>:</label></td>
      <td>
        <%= payment.source.email %>
      </td>
    </tr>
    <tr>
      <td><label><%= Spree.t(:skrill_customer_id) %>:</label></td>
      <td>
        <%= payment.source.customer_id %>
      </td>
    </tr>
    <tr>
      <td><label><%= Spree.t(:skrill_transaction_id) %>:</label></td>
      <td>
        <%= payment.source.transaction_id %>
      </td>
    </tr>
    <tr>
      <td><label><%= Spree.t(:skrill_payment_type) %>:</label></td>
      <td>
        <%= payment.source.payment_type %>
      </td>
    </tr>
    <tr>
      <td><label><%= Spree.t(:skrill_payment_currency) %>:</label></td>
      <td>
        <%= payment.source.currency %>
      </td>
    </tr>
  </table>
</fieldset>
