<fieldset data-hook="bank_transfer">
  <legend><%= Spree.t(:bank_transfer) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Spree.t('stripe.ach.account_holder_name') %>:</th>
      <td><%= payment.source.account_holder_name %></td>
    </tr>
    <tr>
      <th><%= Spree.t('stripe.ach.account_holder_type') %>:</th>
      <td><%= payment.source.account_holder_type %></td>
    </tr>
    <tr>
      <th><%= Spree.t('stripe.ach.routing_number') %>:</th>
      <td><%= payment.source.routing_number %></td>
    </tr>
    <tr>
      <th><%= Spree.t('stripe.ach.account_number') %>:</th>
      <td><%= payment.source.account_number %></td>
    </tr>
  </table>
</fieldset>
