<fieldset data-hook="bank_transfer">
  <legend><%= Spree.t(:bank_transfer) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Spree.t(:account_holder_name) %>:</th>
      <td></td>
    </tr>
    <tr>
      <th><%= Spree.t(:account_holder_type) %>:</th>
      <td></td>
    </tr>
    <tr>
      <th><%= Spree.t(:routing_number) %>:</th>
      <td></td>
    </tr>
    <tr>
      <th><%= Spree.t(:account_number) %>:</th>
      <td></td>
    </tr>
  </table>
</fieldset>
