<% transaction = entry.parsed_details.params['braintree_transaction'] %>
<tr>
  <td><%= Spree.t(:message, :scope => [:log_entry, :braintree]) %></td>
  <td><%= entry.parsed_details.message %></td>
</tr>
<% if transaction %>
  <tr>
    <td><%= Spree.t(:status, :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['status'] %></td>
  </tr>
  <tr>
    <td><%= Spree.t(:cc_token, :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['credit_card_details']['token'] %></td>
  </tr>
  <tr>
    <td><%= Spree.t(:customer_id, :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['customer_details']['id'] %></td>
  </tr>
<% end %>
<tr>
  <td><%= Spree.t(:cvv_result, :scope => [:log_entry, :braintree]) %></td>
  <td><%= entry.parsed_details.cvv_result['message'].to_s %></td>
</tr>
<tr>
  <td><%= Spree.t(:avs_result_title, :scope => [:log_entry, :braintree]) %></td>
  <td>
    <%= Spree.t(:message, :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['message'] %><br>
    <%= Spree.t(:street_match, :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['street_match'] %><br>
    <%= Spree.t(:postal_match, :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['postal_match'] %>
  </td>
</tr>